* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}


body {
    background-image: url("Background.jpg");
    background-size: cover;
    padding: 50px;
}



h1 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 15px;
    background: -webkit-linear-gradient(rgb(252, 236, 55), rgb(170, 79, 235));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.container {
    max-width: 800px;
    margin: auto;
    border: 2px solid white;
    border-radius: 30px;
    display: flex;
    background-color: rgba(255, 255, 255, 0.3);
}

h2 {
    margin-bottom: 15px;
    text-align: center;
    color: white;
}

;


.items {
    width: 60%;
    padding: 20px;
}

.cart {
    width: 40%;
    border-left: 2px solid white;
    background-image: url("cart.jpg");
    background-size: 150px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: block;
}


.one_item {
    display: flex;
    border-bottom: 1px solid white;
    padding: 15px 0;
}

.one_item:last-child {
    border-bottom: solid white 1px;
}

.one_item img {
    max-width: 130px;
}

.one_item .sell_content {
    width: 60%;
    padding-left: 20px;
    padding-top: 20px;
}

.one_item .sell_content p {
    font-size: 20px;
    color: white;
}

.one_item .sell_content h3 {
    font-size: 20px;
    color: white;
}

.one_item .action {
    width: 30%;
}

.one_item .action input {
    width: 70px;
    height: 30px;
    text-align: center;
    font-size: 15px;
}

.one_item .action button {
    width: 70px;
    height: 20px;
    font-size: 10px;
    margin-top: 10px;
}

.cart-item {
    position: relative;
    text-align:left;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    display: block;
    justify-content: space-between;
    align-items: center;
    padding: 15;
}

.cart-item h3 {
    margin-bottom: 0;
}

.item_listed{
    justify-content: space-between;
    display: flex;
    font-size: 22px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 10px;
    padding: 10px;
}

.cart-item button{
    text-align: center;
    padding: 3px;
    border-radius: 10px;
}

.total{
    position: fixed;
    font-size: 35px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white;
    text-shadow:0 0 3px #ff0000, 0 0 5px #120ab1;
    text-decoration: solid;
    margin-left: 10px;
    top: 500px;
}